name: CI
on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]
jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: install deps
        run: bun install --frozen-lockfile

      - name: build & lint
        run: bun run build && bun run lint
